{% extends 'base.html' %}
{% load static %}

{% block title%} Home Page {% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
{% endblock %}


{% block header %}
    {% include 'home_header.html' %}
{% endblock %}


{% block content %}

    {% if messages%}
        <div class="messages">
            {% for message in messages%}
                <div class="alert {% if message.tags %}alert{{ message.tags }}"{% endif %}></div>
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <section class="intro">
        <h2>Welcome to CalorieWisePro</h2>
        <p>Empowering you to make informed decisions about your fitness and health.</p>
    </section>

    <section class="features">
        <h3>Key Features</h3>
        <ul>
            <li>Calculate and predict your calorie burn during workouts.</li>
            <li>Track your fitness progress and workout history.</li>
            <li>Access informative articles and fitness tips.</li>
            <li>Get in touch with us for any questions or feedback.</li>
        </ul>
    </section>

    <a href = "{% url 'logout' %}">Logout here</a>

    {% include 'footer.html' %}

{% endblock %}