{% extends 'base.html' %}

{% load static %}

{% block title%} Home Page {% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
{% endblock %}


{% block header %}
    {% include 'home_header.html' %}
{% endblock %}


{% block content %}

    <div class="prediction-container">
        <form action="{% url 'result' %}" method="post" class="prediction-form">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group">
                    {{ form.Gender.label_tag }}
                    {{ form.Gender }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.Age.label_tag }}
                    {{ form.Age }}
                </div>

                <div class="form-group">
                    {{ form.Height.label_tag }}
                    {{ form.Height }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.Weight.label_tag }}
                    {{ form.Weight }}
                </div>

                <div class="form-group">
                    {{ form.Duration.label_tag }}
                    {{ form.Duration }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    {{ form.Heart_Rate.label_tag }}
                    {{ form.Heart_Rate }}
                </div>

                <div class="form-group">
                    {{ form.Body_Temp.label_tag }}
                    {{ form.Body_Temp }}
                </div>
            </div>

            <input type="submit" value="Predict" class="btn-primary">
        </form>
    </div>

{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}