{% extends 'base.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="login-container">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h2>Login</h2>

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>

        <div class="signup-link">
            <p>Don't have an account?</p>
            <a href="{% url 'signup' %}" class="signup-button btn btn-secondary">Sign Up Here</a>
        </div>
    </div>

{% endblock %}

