{% extends 'base.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="login-container">
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>

        </form>

        <div class="signup-link">
            <h3>Don't have an account?</h3>
            <a href="{% url 'signup' %}" class="signup-button">Sign Up Here</a>
        </div>
    </div>

{% endblock %}