.intro {
    background-color: #0088a9;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.prediction-container {
    background-color: #f5f5f5;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.prediction-container form {
    text-align: left;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 0 0 48%; /* Adjust width as needed */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.form-group select,
.form-group input {
    height: 40px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
