.prediction-container {
    background-color: transparent;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
}

.prediction-form {
    background-color: transparent;
    border-radius: 10px;
    padding: 40px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    box-shadow: inset 0 0 5px #5C8374;
}

input[type="submit"] {
    background-color: #279EFF;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    max-width: 200px;
    font-weight: bold;
}

input[type="submit"]:hover {
    transform: scale(1.05);
}

