.navbar {
    color: transparent;
    background-image: linear-gradient(to left, #111, #222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar-brand:hover {
    color: #00a5e0;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-right: 30px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #0088a9;
}