.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.landing-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.text-container {
    flex: 1;
    padding: 20px 80px;
}

.text-container h1 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    font-weight: 900;
    font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
    white-space: pre-line;
    margin-bottom: 20px;
    line-height: 1.2;
}

.text-container p {
    font-size: 20px;
    padding: 4px 0;
    width: fit-content;
    white-space: pre-wrap;
}

.cta-buttons {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding-top: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
}

.image-container {
    flex: 1;
    padding: 0 80px;
}

.image-container img {
    width: 550px;
    height: 400px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
}

.btn-secondary {
    background-color: #6C757D;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}
