{% extends 'base.html' %}

{% load static %}

{% block title %} About Us {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}



{% block content %}


    <div class="responsive-container-block bigContainer">
      <div class="responsive-container-block Container">
        <p class="text-blk heading">
          About Us
        </p>
        <p class="text-blk subHeading">
          CalorieWisePro is on a mission to help you monitor your calories with precision.
            Through advanced machine learning, our goal is to provide you with accurate and
            personalized calorie predictions. We are dedicated to empowering you on your journey
            to better health and fitness by making calorie management effortless.
        </p>
        <div class="social-icons-container">
          <a class="social-icon">
            <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
          </a>
          <a class="social-icon">
            <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
          </a>
          <a class="social-icon">
            <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
          </a>
          <a class="social-icon">
            <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
          </a>
        </div>
      </div>
    </div>

{% endblock %}