<nav class="navbar">
    <div class="navbar-left">
        <a href="{% url 'home' %}" class="navbar-brand">CalorieWisePro</a>
    </div>
    <div class="navbar-right">
        <ul class="navbar-links">
            {% if user.is_authenticated %}

                <li class="authenticated-user">
                    <a href="{% url 'profile' username=user.username %}" class="link">
                        Hi, {{ user.username }}
                    </a>
                </li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>