{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}

    <main class="landing-container">
        <div class="landing-content">
            <div class="text-container">
                <h1>
                    Move more,
                    burn more,
                    be more.
                </h1>
                <p>Discover a smarter way to manage your </p>
                <p>calorie burn and achieve your fitness goals.</p>

                <div class="cta-buttons">
                    <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up For Free</a>
                </div>
            </div>

            <div class="image-container">
                <img src="{% static 'images/index.jpg' %}" alt="Calorie Burn">
            </div>

        </div>
    </main>

{% endblock %}
